node_modules
.DS_Store
.turbo
.next
dist
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
!.env.example
.git
.github
coverage
.vscode
.idea
*.swp
*.swo
*~
.eslintcache
.cache
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
